{% extends "base.html" %}

{% block content %}
<div class="container">
    Welcome {{ session['fname'] }} {{ session['lname'] }} <br><br>

    Univsersity ID: {{ session['id'] }} <br><br>
    <a href={{ url_for('Transcript', student_uid = session['id']) }}>Your transcript</a> <br><br>

    Choose a semester: 
    <form class="sm" method="POST" action="/student_regestration">
        <select name="semester">
            {% for semester in session['semesters'] %}
                {% if semester == session['current_semester'] %}
                    <option value="{{ semester }}" selected>{{ semester }}</option>
                {% else %}
                    <option value="{{ semester }}">{{ semester }}</option>
                {% endif %}
            {% endfor %}
        </select>
        <select name="year">
            {% for year in session['years'] %}
                {% if year == session['current_year'] %}
                    <option value="{{ year }}" selected>{{ year }}</option>
                {% else %}
                    <option value="{{ year }}">{{ year }}</option>
                {% endif %}
            {% endfor %}
        </select>
        <input type="submit" value="Submit">
    </form>

    Schedule for semester:
    <table class="table table-striped">
        <tr>
            <td><br>
                <b>{{ session['current_semester'] }} {{ session['current_year'] }}</b></br>
            </td>
            <td><br>
                <b>Monday</b></br>
            </td>
            <td><br>
                <b>Tuesday</b></br>
            </td>
            <td><br>
                <b>Wednesday</b></br>
            </td>
            <td><br>
                <b>Thursday</b></br>
            </td>
            <td><br>
                <b>Friday</b></br>
            </td>
        </tr>
        {% for period in range(3) %}
        <tr>
            <td>
                <b>{{ session['different_periods'][period] }}</b>
            </td>
            {% for day in range(5) %}
            <td>
                <b>{{ session['schedule'][period][day][0] }}</b>
                {% if session['schedule'][period][day][0] != 'free period' %}
                    <a href={{ url_for('Class_Page', class_ID = session['schedule'][period][day][1]) }}>class page</a>
                    <form method="POST" action="/student_regestration">
                        <input type="submit" name="{{ session['schedule'][period][day][0] }}" value='drop'>
                    </form>
                {% endif %}
            </td>
            {% endfor %}
        </tr>
        {% endfor %}
    </table>

    Class Lookup: <br><br>
    <error>{{ session['student_regestration_error'] }}</error> <br><br>
    <form action="/student_regestration" method="POST">
        Department:
        <input type="text" name="department" value="">
        Class title:
        <input type="text" name="title" value="">
        Class number
        <input type="text" name="number" value="">
        <input type="submit" name="class_lookup" value="Submit">
    </form>

    <table class="table table-striped">
        <tr>
            <td><br>
                <b>Section_ID</b></br>
            </td>
            <td><br>
                <b>Department</b></br>
            </td>
            <td><br>
                <b>Course Number</b></br>
            </td>
            <td><br>
                <b>Title</b></br>
            </td>
            <td><br>
                <b>Professor</b></br>
            </td>
            <td><br>
                <b>Time</b></br>
            </td>
            <td><br>
                <b>Number of Credit Hours</b></br>
            </td>
            <td><br>
                <b>Eligable</b></br>
            </td>
            <td><br>
                <b>ADD</b></br>
            </td>
        </tr>
        {% for course in session['lookup_results_classes'] %}
        <tr>
            <td><br>
                <b>{{ course['section_id'] }}</b></br>
            </td>
            <td><br>
                <b>{{ course['dept'] }}</b></br>
            </td>
            <td><br>
                <b>{{ course['class_number'] }}</b></br>
            </td>
            <td><br>
                <b>{{ course['title'] }}</b></br>
            </td>
            <td><br>
                <b>{{ course['fname'] }} {{ course['lname'] }}</b></br>
            </td>
            <td><br>
                <b>{{ session['different_periods_2'][course['timeslot']] }} {{ course['day'] }}</b></br>
            </td>
            <td><br>
                <b>{{ course['credit_hours'] }}</b></br>
            </td>
            <td><br>
                <b>{{ course['eligable'] }}</b></br>
            </td>
            <td><br>
                {% if course['eligable'] %}
                <form method="POST" action="/student_regestration">
                    <input type="submit" name="{{ course['title'] }}" value="add">
                </form><br>
                {% endif %}
            </td>
        </tr>
        {% endfor %}
    </table>
</div>
{% endblock %}